.main-footer{
  background-color: #343a34;
  padding: 3rem;
  color: aliceblue;
}

.footer-bottom{
  padding-bottom: 3rem;
  padding-top: 2rem;
}

ul li a{
  color: darkgray;
}

ul li a:hover{
  color: aliceblue;
}

